.blog-hero{
  color: #000 !important;
  font-weight: bold;
  h1{
    font-size: 50px !important;
    font-weight: bold;
    font-family: fantasy;
  }
  p{
    font-size: 25px !important;
    font-weight: bold;
  }
}

.code-demo-container{
  position: static !important;
}

// 思维导图加粗改变颜色
tspan[font-weight="bold"]{
  color: #f26d6d !important;
  fill: #f26d6d !important;
}