.blog-hero{
  color: #000 !important;
  font-weight: bold;
  h1{
    font-size: 50px !important;
    font-weight: bold;
    font-family: fantasy;
  }
  p{
    font-size: 25px !important;
    font-weight: bold;
  }
}